pkgbase = zed-next-git
	pkgdesc = Personal source build of Zed from PiasekDev/zed next
	pkgver = 1.3.0.next.r0.g0000000
	pkgrel = 1
	url = https://github.com/PiasekDev/zed
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = cmake
	makedepends = curl
	makedepends = gettext
	makedepends = git
	makedepends = jq
	makedepends = lld
	makedepends = llvm
	makedepends = make
	makedepends = musl
	makedepends = pkgconf
	makedepends = rustup
	depends = alsa-lib
	depends = fontconfig
	depends = glib2
	depends = hicolor-icon-theme
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = openssl
	depends = sqlite
	depends = vulkan-icd-loader
	depends = wayland
	depends = zstd
	provides = zed
	provides = zeditor
	conflicts = zed
	conflicts = zed-bin
	conflicts = zed-git
	conflicts = zed-next-bin
	conflicts = zed-next-local
	source = git+https://github.com/PiasekDev/zed.git#branch=next
	source = wasi-sdk-25.0-x86_64-linux.tar.gz::https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-25/wasi-sdk-25.0-x86_64-linux.tar.gz
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = zed-next-git
