pkgbase = zed-next-bin
	pkgdesc = Personal replacement build of Zed from PiasekDev/zed next
	pkgver = 0.next.g0000000
	pkgrel = 2
	url = https://github.com/PiasekDev/zed
	arch = x86_64
	license = GPL-3.0-or-later
	depends = alsa-lib
	depends = fontconfig
	depends = glib2
	depends = hicolor-icon-theme
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = openssl
	depends = sqlite
	depends = vulkan-icd-loader
	depends = wayland
	depends = zstd
	provides = zed
	provides = zeditor
	conflicts = zed
	conflicts = zed-bin
	conflicts = zed-git
	conflicts = zed-next-git
	conflicts = zed-next-local
	options = !debug
	source = zed-linux-x86_64.tar.gz::https://github.com/PiasekDev/zed/releases/download/zed-next/zed-linux-x86_64.tar.gz
	source = zed-next-version::https://github.com/PiasekDev/zed/releases/download/zed-next/zed-next-version
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = zed-next-bin
